html {
	overflow-y: scroll;
}
body {
	margin: 0px; cursor: default;
	font-family: Verdana;
	font-size: 0.8rem;
	background-color: #00002B;
	background-image: url(back.png);
	background-repeat: repeat;
    background-attachment: fixed;
}
form {
	margin: 0px;
}
input, #fails, #save, #restore {
	border: none;
	font-size: 1.3rem;
}
input[type=text] {
	width: 100%;
	background-color: hsla(0,100%,100%,.15);
	color: hsla(0,100%,100%,.75);
	box-shadow:inset 0px 0px 4px hsla(0,0%,0%,.25);
	border-radius: 2px;
}
input[type=submit] {
	width: 100%;
	font-weight: bold;
	background-color: transparent;
	color: #fff; 
}

.plus {
	width: 99%;
	font-weight: bold;
	margin-top: 3px;
	border: solid 2px #2ecc71;
	background-color: transparent;
	color: #fff; 
}

a {
	color: #ddd; font-weight: bold;
	text-decoration: none;
}
#adder a {
	color: #fff;
}

/* AUDIO ELEMENT */
audio {
	width: 100%;
	margin: auto;
	opacity: 0.8;
	background-color: #000;
}
#fails, #save, #restore {
	background-color: #c0392b;
	font-size: 1rem; 	font-weight: bold;
	line-height: 1.7rem; 	margin-top: 3px;
	margin-bottom: 0.3rem;
	text-align: center; 	border-radius: 2px;
}
#save {
	width: 46%;
	float: left;
	border: solid 2px #e67e22;
	background-color: transparent;
}
#restore {
	width: 46%;
	float: right;
	border: solid 2px #e67e22;
	background-color: transparent;
}

#save:hover, #restore:hover {
	cursor: pointer;
}
#restore {
	margin-left: 2%;
}
#fails:hover {
	background-color: #ff5442;
	cursor: pointer;
}
input[type=submit]:hover {
	cursor: pointer;
}
#adder h3 {
	font-size: 1rem;
	margin-bottom: 0px;
	clear: both;
}
#logo {
	float: left;
	width: 45px;
	height: 45px;
	margin: 0px 7px 10px 0px;
	-moz-box-shadow: 0px 0px 20px #777;
	-webkit-box-shadow: 0px 0px 20px #777;
	box-shadow: 0px 0px 20px #777;
}
.weeny {
	font-size: 0.7rem;
	margin-top: 0px;
}
#messcon, #playcon {
	position: absolute;
	top: 0px;
	height: 100%;
	position: fixed;
}
#messcon {
	width: 25%;
	right: 0px;
}


#adder {
	position: absolute;
	bottom: 0; margin-bottom: 50px;
	color: #fff;
	font-size: 0.7rem;
	/*display: none;*/
	overflow: auto;
	display: block;

}

#player {
	height: 50%;
	color: #fff;
	font-size: 0.7rem;
	/*display: none;*/
	overflow: auto;
}
#adder {
}
#messages p, #errors p, #messages h2, #errors h2{
	padding: 0px 10px;
}
#player, #adder {
	padding: 10px;
}
#player h2, #adder h2 {
	margin: 0px;
}
#messages {
	background-color: #1abc9c;
}
#errors {
	top: 50%;
	background-color: #f1c40f;
}
#player {
	background-color: transparent;
	text-align: center;
}
#player h3 {
	margin-top: 0px;
}

#player .cont {
	text-align: center;
	width: 100%;
}
#adder {
	background-color: transparent;
}

#messages,  #errors {
	position: absolute;
	bottom: 0; margin-bottom: 10px;
	right: 0;margin-right: 10px;
	height: 150px; width: 450px;
	color: hsla(0,100%,100%,.75); background-color: hsla(0,0%,0%,.45);
	border-radius: 3px;
	font-size: 0.7rem;
	display: none;
	overflow: auto;
}

#messages:hover,  #errors:hover {
	opacity: 0.6;
}

#playcon {
	width: 22%;
	left:  0px;
	padding: 5% 0 0 3%;
	position: fixed;
}

#sublist {
	width: 65%;
	margin-left: 25%;
	padding: 2% 10 10 5%;
	overflow: auto;
}

#player img {
	width: 120px;
	height: 120px;
	background-color: #34495e;
	margin: 20px;
	padding: 10px;
	border-radius: 150px;
	margin-bottom: 30px;
}

#player h2 {
	text-shadow: 0px 0px 2px #fff;
}

#player span {
	font-size: 100px;
	color: hsla(0,100%,100%,.25)
}

#title {
	margin-top: 35px;
}

.podlist {
	max-height: 600px;
	overflow: auto;
	width: 100%;
	background-color: hsla(0,100%,100%,.15);
	color: #ccc;
	box-shadow:inset 0px 0px 4px hsla(0,0%,0%,.25);
}

.apod {
	background-color: transparent;
	padding: 10px;
	margin-bottom: 2px;
}
.nowplaying {
	background-color: #f1c40f;
	color: #333;
}

.apod:hover {

	cursor: pointer;
}

.ptitle {
	font-weight: bold;
	margin-bottom: 5px;
	font-size: 1rem;
}
.pdesc p {
	margin: 0px;
}

.simg {
	float: left;
	width: 110px;
	height: 100%;
	background-color: #95a5a6;
	border-radius: 3px 0px 0px 3px;
}
.stitle {
	padding-top: 20px;
	margin-left: 120px;
	font-size: 1.2rem;
	font-weight: bold;
}
.snum, .sdel {
	padding: 5px;
	font-size: 0.8rem;
	color: #fff;
	font-weight: 900;
	position: absolute;
}
.snum {
	color: #666;
	right: 0px;
	bottom: 0px;
}
.sdel {
	font-size: 0.5rem;
	text-align: center;
	color: #c0392b;
	background-color: transparent;
	right: 0px;
	top: 0px;
	width: 60px;
}
.sdel:hover {
	color: #fff;
	background-color: #c0392b;
}

.sdesc {
	margin-left: 120px;
	margin-top: 5px;
	font-size: 0.7rem;
	width: 80%;
}

.asub {
	position: relative;
	height: 115px;
	background-color: #fff;
	margin-bottom: 10px;
	clear: left;
	box-shadow: 0px 0px 10px 2px hsla(0,0%,0%,.25);
	border-radius: 5px 2px 2px 5px;
}

.asub:hover {
	background-color: #fff;
	color: #3369E8;
	text-shadow:0px 0px 1px #999;
	cursor: pointer;
}

.hvr-sweep-to-top1 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-top1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
	background-color: #e67e22;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-top1:hover, .hvr-sweep-to-top1:focus, .hvr-sweep-to-top1:active {
  color: white;
}
.hvr-sweep-to-top1:hover:before, .hvr-sweep-to-top1:focus:before, .hvr-sweep-to-top1:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.hvr-sweep-to-top2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-top2:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2ecc71;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-top2:hover, .hvr-sweep-to-top2:focus, .hvr-sweep-to-top2:active {
  color: white;
}
.hvr-sweep-to-top2:hover:before, .hvr-sweep-to-top2:focus:before, .hvr-sweep-to-top2:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.apod {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.apod:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0,100%,100%,.25);
  box-shadow:inset 0px 0px 4px hsla(0,0%,0%,.25);
  color: #fff; text-shadow:0px 0px 2px #333;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.apod:hover, .apod:focus, .apod:active {
  color: white;
}
.apod:hover:before, .apod:focus:before, .apod:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@media all and (max-width: 900px) {
	#playcon {
		position: fixed;
		top: 0;
		left: 0;
		padding: 0;
		height: 40px;
		width: 100%;
		background-color: transparent;
	}

	#player {
		height: 100%;
		padding: 0;
	}

	#adder, .sdesc, #player img, #player span, #player h3, #player h2 {
		display: none;
	}

	#mob-title {
		display: block !important;
		padding: 5px;
		background-color: hsla(0,0%,0%,.75);
	}

	audio {
		width: 100%;
	}

	#sublist{
		float: left;
		position: absolute;
		left: 0; margin-left: 0;
		top: 0; margin-top: 10%;
		width: 90%;
		padding: 2% 10 10 5%;
		overflow: auto;
	}

	#messages,  #errors {
		position: absolute;
		bottom: 0; margin-bottom: 0;
		left: 0;
		height: 80px;
		width: 100%;
		color: hsla(0,100%,100%,.75); 
		background-color: hsla(0,0%,0%,.75);
		border-radius: 0px;
		font-size: 0.7rem;
		display: none;
		overflow: auto;
	}

	.asub:hover {
		background-color: #E6E6E6;
		color: #3369E8;
		text-shadow:0px 0px 1px #999;
		cursor: pointer;
	}

	.podlist {
		max-height: 600px;
		overflow: auto;
		width: 100%;
		background-color: hsla(0,100%,100%,.15);
		color: #B3B3B3;
	}

	.nowplaying {
		color: #333;
	}

	.stitle {
		height: 50px;
		overflow: hidden;
	}

	.apod:before {
  		content: "";
  		position: absolute;
  		z-index: -1;
  		top: 0;
  		left: 0;
  		right: 0;
  		bottom: 0;
  		background-color: hsla(0,100%,100%,.25);
  		box-shadow:inset 0px 0px 4px hsla(0,0%,0%,.25);
  		color: #B3B3B3; text-shadow:0px 0px 2px #333;
  		-webkit-transform: scaleX(0);
  		transform: scaleX(0);
  		-webkit-transform-origin: 0 0;
  		transform-origin: 0 0;
  		-webkit-transition-property: transform;
  		transition-property: transform;
  		-webkit-transition-duration: 0s;
  		transition-duration: 0s;
  		-webkit-transition-timing-function: ease-out;
  		transition-timing-function: ease-out;
}
	.apod:hover, .apod:focus, .apod:active {
  		color: #B3B3B3;
}
	.apod:hover:before, .apod:focus:before, .apod:active:before {
  		-webkit-transform: scaleX(0);
  		transform: scaleX(0);
}






}